$primary-50: #e0f2f1;
$primary-100: #b2dfdb;
$primary-200: #80cbc4;
$primary-300: #4db6ac;
$primary-400: #26a69a;
$primary-500: #009688;
$primary-600: #00897b;
$primary-700: #00796b;
$primary-800: #00695c;
$primary-900: #004d40;

$accent-50: #fff3e0;
$accent-100: #ffe0b2;
$accent-200: #ffcc80;
$accent-300: #ffb74d;
$accent-400: #ffa726;
$accent-500: #ff9800;
$accent-600: #fb8c00;
$accent-700: #f57c00;
$accent-800: #ef6c00;
$accent-900: #e65100;

$background-50: #eceff1;
$background-100: #cfd8dc;
$background-200: #b0bec5;
$background-300: #90a4ae;
$background-400: #78909c;
$background-500: #607d8b;
$background-600: #546e7a;
$background-700: #455a64;
$background-800: #37474f;
$background-900: #263238;

$font-dark-1: rgba(black, 0.87) !default;
$font-dark-2: rgba(black, 0.54) !default;

$font-light-1: rgba(white, 0.87) !default;
$font-light-2: rgba(white, 0.54) !default;
