$font-family: 'Helvetica Neue', sans-serif !default;
$font-size: 62.5% !default;
$font-size-dec: 10 !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
